<section class="py-5 bg-primary bg-opacity-75">
    <div class="container">
        
        <form id="movieSearchForm" class="search-form mx-auto">
            <div class="input-group rounded-pill overflow-hidden shadow-sm">
                <input
                    class="form-control"
                    type="text"
                    id="searchInput"
                    placeholder="Search by entering a title OR IMDB ID (e.g Thor OR tt0800369)"
                    required
                >
                <button class="btn btn-light" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <p class="text-center text-light fw-bold fs-4 mt-4" id="userFeedback"> Enter a movie to get started </p>

    </div>
</section>

<section class="py-4">
    <div class="container" id="cardContainer">
        <!-- Movie cards will be dynamically inserted here -->
    </div>
</section>

<div class="modal fade" id="saveSearchResultModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add this result to your saved movies?</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>

            <div class="modal-body text-center">
                <button id="confirmSave" type="button" class="btn btn-success me-2"> Yes </button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"> No </button>
            </div>
            
        </div>
    </div>
</div>